
.dashboard {
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.login-page {
    font-family: 'Khand', Arial, Helvetica, sans-serif;
    background: #f4f3ef;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-page {
    font-family: 'Khand', Arial, Helvetica, sans-serif;
    background: #f4f3ef;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

