.store-editor-container {
    background: #efefef;
    padding:20px;
    flex: 1;
    display: flex;
}

.store-editor-window {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.4);
}

.store-editor {
    width: 100%;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;    
    display: flex;
    flex-direction: row;
}

.store-editor-title-bar {
    width: 100%;    
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: rgb(243, 195, 92);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}

.store-editor-menu {
    width: 200px;    
    background: #2c2c2c;
    border-bottom-left-radius: 10px;
    color: rgba(255,255,255,0.7);
    li {
        padding: 10px;
        text-align: center;                
        border-bottom: 1px solid rgba(255,255,255,0.2);
        
    }
    
    h2 {
        &:hover{
            cursor:pointer;
            color: rgb(33, 182, 245);
        }        
    }
}

.header-editor-section {
    color: #000;
}

.header-height-select {
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255,255,255,0.7);
    input {        
        width: 100%;
        height: auto;
        color: #000;
        margin-left: 10px;
        text-align: center;
    }
}



