.shortlist-item-more-info-image-scroll-container{
    display: flex;
    padding: 20px;
}

.shortlist-item-more-info-image {

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.shortlist-item-more-info-image-list {
    display: flex;
    flex-direction: column;
    height:400px;
    overflow-y: scroll;
}
