.short-list-item-container {
    display: flex;
    align-items: center;
    height: 110px;
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.short-list-item-container img {
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.short-list-item-description {
    margin-right: auto;
    width: 40%;
}

.short-list-item-description p {
    margin: 5px;
}

.short-list-item-description-subsection {
    display: flex;
    align-items: center;
}

.short-list-item-lot-size, .short-list-item-id {
    font-size: 14px;
    font-weight: normal;
    color: #a8a8a8;
}

.short-list-item-more-info {
    font-size: 14px;
    font-weight: bold;
}

.short-list-item-more-info:hover {
    color: rgb(33, 182, 245);
    cursor: pointer;
}

.short-list-item-delete {
    color: rgb(204, 37, 37);
    opacity: 0.7;
    margin-left: 40px;
}

.short-list-item-delete:hover {
    opacity: 1;
    cursor: pointer;
}