.sidebar-container {
  font-family: 'Khand', sans-serif;
  height: 100%;
  width: auto;
  float: left;
  background: #2c2c2c;
  color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.sidebar-container li {
  padding: 10px 20px 10px 0px;
  opacity: 0.7;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.sidebar-container i {
  font-size: 24px;
  padding: 10px;
  width: 60px;
  text-align: center;
}

.sidebar-container li:hover {
  opacity: 1;
  cursor: pointer;
}

.sidebar-container hr {
  border-top: 1px solid white;
  width: 100%;
  opacity: 0.4;
}

.selected {
 color: rgb(33, 182, 245);
}
