.menu-container {
    font-size: 32px;
    font-family: 'Khand', sans-serif;
    color: white;
    background: rgb(26, 26, 26);
    height: auto;
    width: 100%;;
    padding: 15px 20px 15px 20px;
}

.hamburger-menu {
  float: left;
  margin-right: 20px;
  opacity: 0.7;
}
.title {
  float: left;
}
.hamburger-menu:hover {
  opacity: 1;
  cursor: pointer;
}

.notifications, .settings-menu{
  float: right;
  margin-left: 20px;
  opacity: 0.7;
}

.notifications:hover, .settings-menu:hover {
  opacity: 1;
  cursor: pointer;
}

.clear {
  clear: both;
}
