.top-bar-container {
    font-size: 32px;
    font-family: 'Khand', sans-serif;
    color: white;
    background: rgb(26, 26, 26);
    height: auto;
    width: 100%;;
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.top-bar-hamburger-menu {
  margin-right: 20px;
  opacity: 1;
}

.top-bar-hamburger-menu:hover{
  opacity: 0.7;
  cursor: pointer;
}

.top-bar-notifications{
  margin-left: auto;
  opacity: 0.7;
}

.top-bar-settings-menu {
  opacity: 0.7;
  margin-left: 20px;
}

.top-bar-notifications:hover, .top-bar-settings-menu:hover {
  opacity: 1;
  cursor: pointer;
}

