.header-editor-section {
    color: #000;
    text-align: left;

    h3 {
        color: #bdbdbd
    }

    h4 {
        margin-right: 3px;
    }
}

.text-area {
    margin-bottom: 10px;    
}

.editor-section {
    border: 1px solid #000;
    border-radius: 5px;    
    margin-bottom: 10px;
    padding: 5px;
    background: #efefef;
}

.size-select, .color-select {
    display: flex;
    align-items: center;
}