.logo-editor-section {
    font-size: 14px;
    text-align: left;
    padding-top: 10px;

    button {
        color: #000;
    }

    input {
        margin-bottom: 10px;
    }
}

.height-slider, .width-slider{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    padding-top: 5px;

    input {
        height: 25px;
        outline: none;
    }
}
